<div class="Twitter">
  <% if @influencer[:name] == "プチプラのあや" %>
    <a href="https://twitter.com/ayaofpetitprice" data-tweet-limit="2" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% elsif @influencer[:name] == "まる" %>
    <a href="https://twitter.com/marumaru1530" data-tweet-limit="3" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% elsif @influencer[:name] == "佐々木 あさひ" %>
    <a href="https://twitter.com/sasakiasahi" data-tweet-limit="2" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% elsif @influencer[:name] == "ななみ" %>
    <a href="https://twitter.com/nanachan733" data-tweet-limit="2" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% elsif @influencer[:name] == "佐藤 優里亜" %>
    <a href="https://twitter.com/yuriasato" data-tweet-limit="2" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% elsif @influencer[:name] == "かんだま" %>
    <a href="https://twitter.com/KOIKE_WEEKEND" data-tweet-limit="2" data-theme="light" data-link-color="#1a0dab" data-chrome="noheader nofooter noborders noscrollbar" class="twitter-timeline">Tweets by ayaofpetitprice</a>
  <% end %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
