<header id="Header">
  <%= render partial: "influencers/partial/index-header" %>
</header>










<section class="YouTube_Videos">
  <% @video_lists.each do |video| %>
    <article>
      <h2>
        <%= video.title %>
        <div class="Layer BG_UNIQLO"></div>
      </h2>

      <iframe width="640px" height="360px" src= <%= "https://www.youtube-nocookie.com/embed/" + video.video_id + "?controls=0" %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
  <% end %>
</section>
