<header id="TOP_Eye-Catch">
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <h1 class="Title">Multi-0-Design</h1>
</header>
