<%= render partial: "influencers/partial/index-header" %>

<div class="Flexbox_Row">
  <%= render partial: "influencers/partial/left-column" %>

  <section id="Right_Column">
    <%= render partial: "influencers/partial/right-column", locals: { product: product } %>
  </section>
</div>
