<section id="YouTube">
  <h3>
    <i class="fab fa-youtube"></i>
    <span class="Variable">fifth</span> 秋・冬使える！ニットコーデ
    <div class="Layer BG_No-Brand"></div>
  </h3>

  <iframe width="560px" height="315px" src="https://www.youtube-nocookie.com/embed/iQEPL2rluWs?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <article>
    <h4>
      <i class="far fa-hand-point-down"></i>
      <span class="Marker_Yellow"><i class="far fa-star"></i> Pick - UP！<i class="far fa-star"></i></span>
      紹介している商品はこちら！
    </h4>

    <% if Rails.env.development? %>
      <% youtube_selects = Product.find_by_sql("SELECT * FROM products WHERE id = 3322 OR id = 13696 OR id = 16246 OR id = 16443 OR id = 17232 OR id = 18250 OR id = 18432 OR id = 18438 OR id = 18486 OR id = 325847 ORDER BY RAND() LIMIT 3;") %>
    <% end %>
    <% if Rails.env.production? %>
      <% youtube_selects = Product.find_by_sql("SELECT * FROM products WHERE id = 3322 OR id = 13696 OR id = 16246 OR id = 16443 OR id = 17232 OR id = 18250 OR id = 18432 OR id = 18438 OR id = 18486 OR id = 325847 ORDER BY RANDOM() LIMIT 3;") %>
    <% end %>

    <div class="Pick-UP_Products">
      <% youtube_selects.each do |select| %>
        <%= link_to select.distributor, target: "_blank" do %>
          <div class="Pick-UP_Products__Product">
            <%= image_tag @url_shorter[:aws_images] + select.image %>
            <p>
              <%= select.name %>
            </p>

            <%= link_to "購入", select.distributor, class: "Pick-UP_Products__Product__Button", target: "_blank" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</section>
