<section id="YouTube">
  <h3>
    <i class="fab fa-youtube"></i>
    <span class="Variable">UNIQLO</span> 夏の１週間コーディネート！
    <div class="Layer BG_UNIQLO"></div>
  </h3>

  <iframe width="560px" height="315px" src="https://www.youtube-nocookie.com/embed/-5ZixeIr8UA?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <article>
    <h4>
      <i class="far fa-hand-point-down"></i>
      <span class="Marker_Yellow"><i class="far fa-star"></i> Pick - UP！<i class="far fa-star"></i></span>
      紹介している商品はこちら！
    </h4>

    <% if Rails.env.development? %>
      <% youtube_selects = Product.find_by_sql("SELECT * FROM products WHERE id = 425371 OR id = 425974 OR id = 426080 OR id = 429106 OR id = 431421 OR id = 433712 ORDER BY RAND() LIMIT 3;") %>
    <% end %>
    <% if Rails.env.production? %>
      <% youtube_selects = Product.find_by_sql("SELECT * FROM products WHERE id = 425371 OR id = 425974 OR id = 426080 OR id = 429106 OR id = 431421 OR id = 433712 ORDER BY RANDOM() LIMIT 3;") %>
    <% end %>

    <div class="Pick-UP_Products">
      <% youtube_selects.each do |select| %>
        <%= link_to select.distributor, target: "_blank" do %>
          <div class="Pick-UP_Products__Product">
            <%= image_tag @url_shorter[:aws_images] + select.image %>
            <p>
              <%= select.name %>
            </p>

            <div class="Pick-UP_Products__Product__Button">
              購入
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</section>
