<header id="Header">
  <%= render partial: "influencers/partial/index-header" %>
</header>

<div class="Flexbox_Row">
  <section id="Left_Column">
    <% @influencers = Influencer.all %>
    <%= render partial: "influencers/partial/left-column" %>
  </section>

  <section id="Right_Column">
    <% @influencers = Influencer.includes(:youtube_channel) %>
    <%= render partial: "influencers/partial/right-column" %>
  </section>
</div>
