@import "reset";
@import "mixin/index";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

#Wrapper {
  max-width: 1200px;
  color: #333;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 16px;
  margin: 0 auto;

  a {
    color: #333;
    text-decoration: none;
  }
}

/* ↓ "aya/show.html.erb" ↓ */
#Header_Show {
  font-family: 'Parisienne', cursive;
  height: 400px;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;

  &__Image {
    z-index: -10;
    position: absolute;
      top: 0;
      left: 0;

    img {
      width: 1200px;
      height: 400px;
      opacity: 0.5;
    }
  }
}

#Contents_Show {
  width: 965px;
  margin: 0 auto;
  position: relative;

  .Influencer_Icon {
    width: 730px;
    position: absolute;
      top: -120px;
      left: 110px;

    img {
      width: 240px;
      height: 240px;
    }

    h2 {
      font-size: 4.0rem;
      font-weight: bold;
      position: absolute;
        top: 28px;
        left: 280px;
    }
  }

  &__Flexbox {
    display: flex;
    flex-direction: row;

    .Twitter {
      width: calc(400px - 48px);
      margin: 136px 40px 0 0;
    }

    .YouTube {
      &__iFrame { margin: 8px 0; }

      h3 {
        width: 552px;
        font-weight: bold;
        padding-left: 8px;
        border-top: solid 1px #333333;
        border-left: solid 1px #333333;
        border-right: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
        margin: 16px 0;
        position: relative;
        .fa-youtube { font-size: 1.5rem; }
        .Font_Big { font-size: 1.5rem; }

        .Layer {
          width: 560px;
          height: 35px;
          background-color: #c90436;
          opacity: 0.3;
          z-index: -10;
          position: absolute;
            top: 4px;
            left: 4px;
        }
      }

      &__Pick-UP {
        font-size: 1.3rem;
        cursor: pointer;

        .fa-hand-point-down { font-size: 1.5rem; }
        .fa-star { font-size: 1.0rem; }
        .Marker_Yellow { background: linear-gradient( transparent 50%, #ffff99 60% ); }
        &--Text { font-size: 1.0rem; }
      }

      &__Products {
        width: 150px;
        height: 300px;
        font-size: 0.8rem;
        border-radius: 4px;
        padding: 2px;
        margin: 8px 0 0 24px;
        display: flex;
          flex-direction: row;

        a {
          width: 5.5em;
          font-size: 0.6rem;
          border-radius: 4px;
          padding: 0 4px;
          margin: 4px 0 0 auto;
          background: rgba(201, 4, 54, 0.2);
          box-shadow: 0 2px rgba(201, 4, 54, 0.3);
          display: block;

          &:active {
            box-shadow: none;
            position: relative;
              top: 2px;
          }
        }

        &__Product {
          margin-right: 16px;
        }
      }
      /* .Close { display:none; } */
    }
  }
}
