<div class="Eye-Catch">
  <%= video_tag 'Background_Eye-Catch.mov', class: "Eye-Catch__Movie", width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <div class="Eye-Catch__Title">
    <span class="Eye-Catch__Title--Front_Text">ふつうのひとの発信に価値を…</span><br>
    Multi-0-Design<br>
    <span class="Eye-Catch__Title--After_Text">インフルエンサーの着こなし投稿キュレーションサイト</span>
  </div>
</div>
