#TOP_Eye-Catch {
  video { opacity: 0.5; }
  width: 100vw;
  max-width: 1024px;
  height: 100%;
  max-height: 576px;
  text-align: center;
  position: relative;

  @media screen and (max-width: 767px) {
    width: 100vw;
  }

  .Title {
    width: 530px;
    font-family: 'Parisienne', cursive;
    color: #000000;
    font-size: 5.0rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    position: absolute;
      top: 50%;
      left: 50%;


    &::before {
      content: "ふつうのひとの発信に価値を…";
      font-family: 'Noto Serif JP', serif;
      font-size: 0.9rem;
      text-align: left;
      display: block;
    }

    &::after {
      content: "インフルエンサーの着こなし投稿キュレーションサイト";
      font-family: 'Noto Serif JP', serif;
      font-size: 1.0rem;
      margin-top: 8px;
      display: block;
    }

    @media screen and (max-width: 767px) {
      width: 100vw;
      font-size: 2.5rem;

      &::before {
        font-size: 0.6rem;
        padding-left: 55px;
      }

      &::after {
        font-size: 0.7rem;
        margin-top: 0;
      }
    }
  }
}





.a {
  width: 100vw;
  min-width: 320px;
  max-width: 1024px;
  // margin-bottom: 16 * 8px;
  position: relative;
  .Eye-Catch { opacity: 0.5; }

  div {
    @include Title_Font(5.0rem);
    width: 100vw;
    min-width: 320px;
    max-width: 1024px;
    text-align: center;
    line-height: 64px;
    margin-top: 15%;
    position: absolute;
      top: 0;
      left: 0;

    .Text {
      &--Front {
        @include Default_Font(0.9rem);
        width: 536px;
        text-align: left;
        margin: 0 auto -8 * 8px;
        display: block;
      }

      &--After {
        @include Default_Font;
        margin-top: 16px;
        display: block;
      }
    }

    @media screen and (max-width: 767px) {
      @include Title_Font(2.5rem);
      line-height: 16 * 2px;
      margin-top: 15%;

      .Text {
        &--Front {
          @include Default_Font(0.6rem);
          width: 267px;
          margin: 0 auto -8 * 4px;
          display: block;
        }

        &--After {
          @include Default_Font(0.7rem);
          margin-top: 8px;
        }
      }
    }
  }
}

.Sub-Title {
  width: (358px * 2) + (16px * 2);
  margin: 16px 0 8px auto;
  position: relative;

  h2 {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: rgba(51, 51, 51, 0.2);
    font-size: 3.0rem;
    font-weight: bold;
  }

  p {
    font-size: 1.3rem;
    position: absolute;
      left: 8 * 9.5px;
      bottom: 0;
  }

  @media screen and (max-width: 767px) {
    width: 100vw;
    padding-left: 8px;
    margin: 16px 0 8px 0;

    h2 { font-size: 2.0rem; }
    p {
      font-size: 1.0rem;
      position: absolute;
        left: 8 * 6.5px;
    }
  }
}

.Influencers {
  width: (240px * 0.75) * 3 + (32px * 3);
  margin: 0 32px 0 auto;

  ul {
    @include Default_Font(0.8rem);
    a { color: #1a0dab; }
    margin: 8px 0 32px;
    display: flex;
      flex-direction: row;
  }

  .Flexbox { display: flex; flex-wrap: wrap; }
  &--Link:hover { opacity: 0.9; }
  article {
    .Supplement {
      &--Marker_Blue {
        background: linear-gradient( transparent 50%, #ccffff 60% );
        font-size: 0.8rem;
        margin-bottom: 8px;
      }

      &--Marker_Yellow {
        background: linear-gradient( transparent 50%, #ffff99 60% );
        width: 5.0em;
        font-size: 0.8rem;
        margin: 0 auto 8px;
      }

      &--Marker_Red {
        background: linear-gradient( transparent 50%, #ffccff 60% );
        width: 5.0em;
        font-size: 0.8rem;
        margin: 0 auto 8px;
      }
    }

    img {
      @include Image_Size(240px * 0.75, 240px * 0.75);
    }

    width: 240px * 0.75;
    text-align: center;
    margin: 0 32px 32px 0;
  }

  .Alert {
    @include Default_Font(0.8rem);
  }

  &__Person {
    &--Name {
      @include Default_Font(1.2rem);
      font-weight: bold;
    }

    &--Follower {
      @include Default_Font(0.8rem);
      text-align: right;
    }

    &__Social-Network {
      margin-top: 8px;

      &--Twitter {
        margin-right: 16px;
        .Icon_Color { @include Font_Awesome($Twitter_Brand-Color, 1.5rem); }
      }
      &--Instagram {
        margin-right: 16px;
        .Icon_Color { @include Font_Awesome($Instagram_Brand-Color, 1.5rem); }
      }
      &--YouTube { .Icon_Color { @include Font_Awesome($YouTube_Brand-Color, 1.5rem); } }
    }
  }
}

.Products {
  width: (150px * 4) + (16px * 4);
  @include Default_Font(0.8rem);
  margin-left: auto;

  ul {
    @include Default_Font(0.8rem);
    a { color: #1a0dab; }
    margin: 8px 0 32px;
  }

  .Flexbox { display: flex; flex-wrap: wrap; }
  article {
    img { @include Image_Size(150px, 150px); }
    width: 150px;
    .Product_Name { height: 3.0em; }
    margin: 0 16px 32px 0;

    .Category_Brand {
      @include Default_Font(0.6rem);
      background-color:rgba(#000000, 0.1);
      border-radius: 10px;
      padding: 0 4px;
      margin: 4px 0;
      display: inline-block;
    }

    .Flex_Direction {
      width: 82px;
      margin: 8px 0 0 auto;
      display: flex;
        flex-direction: row;
    }

    .Product_Button {
      @include Default_Font(0.7rem);
      text-align: center;
      border: solid 1px $Default_Font-Color;
      border-radius: 5px;
      padding: 0 4px;
      margin-right: 8px;
      display: block;

      &:hover {
        background-color: $Default_Font-Color;
        color: #fff;
      }
    }
  }

  aside {
    margin: -8px 16px 0 auto;
  }
}
