@import "mixin/eye-catch";

.Influencers {
  width: 996px;
  margin: 32px 0 0 auto;
  display: flex;
    flex-wrap: wrap;

  .Influencer {
  background-color: rgba(255, 204, 255, 0.2);
  width: 300px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(255,204,255, 0.4);
  padding: 32px 0 24px 0;
  margin: 0 32px 16px 0;

    &__Image {
      width: 120px;
      height: 120px;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .Flexbox {
      width: 200px;
      margin: 8px auto;
      display: flex;
        flex-direction: row;
    }

    &__Twitter {
      .Icon_Color {
        color: #1da1f2;
        font-size: 2.5rem;
      }
    }

    &__Instagram {
      margin: 0 40px;
      .Icon_Color {
        color: #f56040;
        font-size: 2.5rem;
      }
    }

    &__YouTube {
      .Icon_Color {
        color: #f1224d;
        font-size: 2.5rem;
      }
    }

    &__Button {
      background-color: rgba(255,204,255, 0.6);
      width: 7.0em;
      border-radius: 10px;
      box-shadow: 0 2px rgba(255,204,255, 1.0);
      padding: 2px;
      margin: 0 16px 0 auto;

      a {
        color: #333;
        font-size: 0.8rem;
        display: block;
      }

      &:active {
        box-shadow: none;
        position: relative;
          top: 2px;
      }
    }
  }
}
